RewriteEngine On
RewriteRule    ^k-space/?$    k-space.php    [NC,L]
RewriteRule    ^wormhole/?$    wormhole.php    [NC,L]
RewriteRule    ^k-space/([0-5]{10})/?$    k-space.php?inputs=$1    [NC,L]
RewriteRule    ^wormhole/([0-5]{10})/?$   wormhole.php?inputs=$1   [NC,L]
RewriteRule    ^submit?$   redirect.php   [NC,L]

# GH skill
